In [1]:
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
#Read in data from csv and store into pandas dataframe 

populations_estimates = pd.read_csv("Population-EstimatesData.csv")
populations_estimates.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2042,2043,2044,2045,2046,2047,2048,2049,2050,Unnamed: 95
0,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,88.061110,89.489513,90.782451,91.898948,92.728007,93.201290,...,54.356396,54.502067,54.676725,54.874161,55.102246,55.331887,55.562180,55.789065,56.009450,NaN
1,Arab World,ARB,"Age dependency ratio, old",SP.POP.DPND.OL,6.591951,6.700903,6.793279,6.867327,6.919224,6.947790,...,13.345549,13.732773,14.132766,14.544481,14.946251,15.349197,15.755873,16.168726,16.589418,NaN
2,Arab World,ARB,"Age dependency ratio, young",SP.POP.DPND.YG,81.324186,82.626198,83.789155,84.767354,85.474209,85.872972,...,40.542064,40.345297,40.162781,39.987572,39.845466,39.699290,39.546177,39.380479,39.197560,NaN
3,Arab World,ARB,"Age population, age 00, female, interpolated",SP.POP.AG00.FE.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Age population, age 00, male, interpolated",SP.POP.AG00.MA.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##Regional Populations Growth Graph

*Creating a line graph showing European Union, Central Europe and the Baltics, Sub Saharan Africa, United States, Latin America and Caribbean, Middle East and North Africa, East Asia and Pacific, South Asia - Population growth (annual %) 1970-2050.

In [3]:
#Clean Pandas Dataframe by geting rid of unecessary columns and renaming columns

pop_est_df = populations_estimates.drop(['Country Code','Indicator Code'], axis = 1)

reg_df = pop_est_df.set_index("Country Name")

In [4]:
#filter rows in dataframe

regions_df = reg_df.loc[["Central Europe and the Baltics", "East Asia & Pacific", "European Union",
 "Latin America & Caribbean", "Middle East & North Africa", "South Asia", "Sub-Saharan Africa", "United States"]]
                                        
regions_df

,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2042,2043,2044,2045,2046,2047,2048,2049,2050,Unnamed: 95
Country Name,,,,,,,,,,,,,,,,,,,,,
Central Europe and the Baltics,Age dependency ratio (% of working-age populat...,5.741188e+01,5.752730e+01,5.728712e+01,5.677139e+01,5.614491e+01,5.551517e+01,5.471579e+01,5.409226e+01,5.355680e+01,...,6.646455e+01,6.776753e+01,6.906237e+01,7.031534e+01,7.158719e+01,7.275529e+01,7.386537e+01,7.498979e+01,7.617579e+01,NaN
Central Europe and the Baltics,"Age dependency ratio, old",1.134335e+01,1.164324e+01,1.195043e+01,1.225932e+01,1.256735e+01,1.287642e+01,1.319988e+01,1.349894e+01,1.378785e+01,...,4.425557e+01,4.535228e+01,4.642422e+01,4.744606e+01,4.845903e+01,4.936855e+01,5.021531e+01,5.107022e+01,5.198438e+01,NaN
Central Europe and the Baltics,"Age dependency ratio, young",4.587778e+01,4.567246e+01,4.512306e+01,4.431009e+01,4.339136e+01,4.246881e+01,4.137372e+01,4.047395e+01,3.966915e+01,...,2.217074e+01,2.237985e+01,2.260623e+01,2.284224e+01,2.310576e+01,2.336620e+01,2.362480e+01,2.388381e+01,2.414218e+01,NaN
Central Europe and the Baltics,"Age population, age 00, female, interpolated",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Central Europe and the Baltics,"Age population, age 00, male, interpolated",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,Rural population growth (annual %),-1.953745e-02,3.797679e-01,2.469108e-01,1.415862e-01,8.493718e-02,-6.049969e-02,-1.623757e-01,-2.350165e-01,-3.320985e-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United States,Sex ratio at birth (male births per female bir...,NaN,NaN,1.050000e+00,NaN,NaN,NaN,NaN,1.052000e+00,NaN,...,1.047000e+00,NaN,NaN,NaN,NaN,1.047000e+00,NaN,NaN,NaN,NaN
United States,Urban population,1.264625e+08,1.292762e+08,1.319887e+08,1.346154e+08,1.372160e+08,1.396631e+08,1.420087e+08,1.442888e+08,1.464632e+08,...,3.284070e+08,3.305070e+08,3.325870e+08,3.346630e+08,3.367340e+08,3.388110e+08,3.408870e+08,3.429730e+08,3.450350e+08,NaN
United States,Urban population (% of total population),6.999600e+01,7.037700e+01,7.075700e+01,7.113400e+01,7.150800e+01,7.187900e+01,7.224700e+01,7.261200e+01,7.297400e+01,...,8.756400e+01,8.777400e+01,8.798000e+01,8.818400e+01,8.838400e+01,8.858200e+01,8.877600e+01,8.896800e+01,8.915600e+01,NaN
United States,Urban population growth (annual %),2.449104e+00,2.200571e+00,2.076494e+00,1.970559e+00,1.913437e+00,1.767653e+00,1.665559e+00,1.592820e+00,1.495763e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Create Datafram showing popualtion annnual perecent growth for 8 selected regions

##Regional Popualtions Age Demographics 1970 & 2020

*Creating a pie chart comparing Age Groups in 1970 & 2020 showing the European Union, Central Europe and the Baltics, Sub Saharan Africa, United States, Latin America and Caribbean, Middle East and North Africa, East Asia and Pacific, South Asia Population regions by ages 0-14 (% of total population), Population ages 15-64 (% of total population), Population ages 65 and above (% of total population).